
<header>
    <div class="navbar__header">
        <ul class="navbar__header-list">
            <li class="navbar__header-item">HOME</li>
            <li class="navbar__header-item"><i class="fas fa-user"></i>ABOUT</li>
            <li class="navbar__header-item"><i class="fa fa-th"></i>PORTIFOLIO</li>
            <li class="navbar__header-item"><i class="fas fa-envelope"></i>CONTACT</li>
        </ul>
        <ul class="navbar__header-list">
            <li class="navbar__header-item navbar__header-item-search">
                <i class="fas fa-search"></i>
            </li>
        </ul>
    </div>
    <div class="slide">
        <img src="./assets/images/logo.jpg" alt="">
        <p>MY WEBSITE LOGO</p>
    </div>
</header>
<app-content></app-content>
