<div class="content_about">
    <h2>ABOUT ME</h2>
    <p class="about__desc">I love photography</p>
    <p class="about__text">We have created a fictional "personal" website/blog, and our fictional character is a hobby photographer. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class="row">
        <div class="col-md-6">
            <div>
                <div class="about__header">
                    <i class="fas fa-user"></i>My Name
                </div>
                <br>
                <div class="about__img">
                    <img src="./assets/images/avatar_hat.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <p class="p_text">Welcome to my website. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    <div class="about__bottom">
        <p>Im really good at:</p>
        <div class="photo">
            <div class="hihihi">
                <i class="fa fa-camera"></i> <p>Photography</p>
            </div>
            <div class="scrol">
                <div class="light-grey">
                    <div class="dark-grey">
                        <strong>90%</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="web">
            <div class="hihihi">
                <i class="fa fa-laptop"></i> <p>Web Degisn</p>
            </div>
            <div class="scrol">
                <div class="light-grey">
                    <div class="dark-grey" style="width: 85%;">
                        <strong>85%</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="photoshop">
            <div class="hihihi">
                <i class="far fa-image"></i> <p>Photoshop</p>
            </div>
            <div class="scrol">
                <div class="light-grey">
                    <div class="dark-grey" style="width: 75%;">
                        <strong>75%</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <span>14+</span>
            <br>
            <span style="font-size: 16px;">
                Partners
            </span>
        </div>
        <div class="col-md-3">
            <span>14+</span>
            <br>
            <span style="font-size: 16px;">
                Partners
            </span>
        </div>
        <div class="col-md-3">
            <span>14+</span>
            <br>
            <span style="font-size: 16px;">
                Partners
            </span>
        </div>
        <div class="col-md-3">
            <span>14+</span>

            <br>
            <span style="font-size: 16px;">
                Partners
            </span>
        </div>
    </div>
    <div class="images">
        <img src="./asstes/images/parallax2" alt="">
    </div>
</div>